page-perfil {
    .view{
        background-image: url('../../../www/assets/img/city.jpg');
    }
    .toolbar-background {
        background-color:rgba(76, 123, 194, 0.911);
      }
      
      ion-footer{
         background-color: wheat;
         text-align: center;
         
     }
}
