page-home {
  .toolbar-background {
    background-color:rgba(76, 123, 194, 0.911);
  }
  
  ion-footer{
     background-color: wheat;
     text-align: center;
     
 }
 div{
   padding-block-end: 10%
 }
}
