page-tercera {
    ion-content{
        background-image: url("../../assets/imagenes/images.jpg");
        background-size: cover;
        text-align: center;
    }
    img{
        margin-top: 50px;
        width: 150px;
        margin: 20px;
    }

}
